// COLORS
$color-white: #fff;
$color-dark-grey: #262626;

// TEXT COLORS
$text-01: #161616;
$text-02: #525252;
$text-03: #a8a8a8;
$text-04: #ffffff;
$text-05: #6f6f6f;

// LAYOUT
// Had to create this file with not being able to install global carbon scss
$layout-01: 1rem;
$layout-02: 1.5rem;
$layout-03: 2rem;
$layout-04: 3rem;
$layout-05: 4rem;
$layout-06: 6rem;
$layout-07: 10rem;

// SPACING
// Had to create this file with not being able to install global carbon scss
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.5rem;
$spacing-07: 2rem;
$spacing-08: 2.5rem;
$spacing-09: 3rem;